# Local junction to @react-native/gradle-plugin (pnpm run android:link-plugin)
.rn-gradle-plugin/

# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
